/*한글제목*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
/*font-family: 'Titillium Web', sans-serif;*/

/*한글본문*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/*font-family: 'Titillium Web', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
/*font-family: 'Sunflower', sans-serif;*/

/*영어제목*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/

/* 영어본문*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
/*font-family: 'Inconsolata', monospace;*/
/*이텔릭체*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
/*font-family: 'Dancing Script', cursive;*/

html,
body {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {

    box-sizing: border-box;
}

a {
    text-decoration: none;

    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.f_s {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f_c {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.f_a {
    display: flex;
    justify-content: center;
    align-items: center;

}

header,
main,
footer {
    width: 100%; 
}

/*           header     ----------------------------------------------------    */
header {
    position: fixed;
    z-index: 100;
    display: inline-block;
}

.header {

    width: 100%;
    height: 5vh;
    padding:1% 2%;
    background: rgba(255, 255, 255, 0.5);

}





.header nav{
     width: 50%;
    margin:0 auto;
}
.header nav > div {
    position: relative;
    width: 30%;
    height: 100%;

}


.header nav > div > a {

    text-transform: uppercase;
    padding: 10% 4vw;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.header nav > div ul {
    display: none;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.5);
    width: 90%;

}

.header nav > div ul li {
    width: 100%;
    margin: 5% 0;
}

.header nav > div ul li a {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    ;
    padding: 5% 10%;
    width: 100%;

}

.header nav .r_n {
     position:relative;
}



.header nav .r_n > .s_list a img {


    box-sizing: border-box;
    border: 2px solid white;
    overflow: hidden;
    width: 130px;
    height: 80px;

}

.header nav .r_n > .s_list {
    
    width: 100%;
    text-align: center;

}

.header nav .r_n > .s_list a {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    padding: 2% 10%;
    width: 100%;
}



/*                ---------fixed-------------------------------------------    */
.menu-trigger{
    width:25px; height:25px;
     position:fixed;
        right:2%; top:2%;
    z-index:100;
    display:none;
    transition:.5s;
}
 .menu-trigger > span{
    position:absolute;
    left:0; 
    background:#fff;
    width:100%; height:2px;
   
}
.menu-trigger > span:nth-of-type(2){
    top:50%;
    transform: translateY(-50%);
}
 .menu-trigger > span:nth-of-type(3){
    bottom:0;
}
 .menu-trigger.active > span{
       
        background:black;
       
    }
    .menu-trigger.active > span:nth-of-type(1){
        transform:rotate(45deg);
        bottom:50%;
    }
    .menu-trigger.active > span:nth-of-type(2){display:none;}
    .menu-trigger.active > span:nth-of-type(3){
        transform:rotate(-45deg);
        bottom:50%;
    }
.side{
    display:block;
    width:2%;
    height:57%;
    padding:auto;
         position:fixed;
      z-index:100;
    right:5%; bottom:20%;
white-space: pre-line;
    background:rgba(0,0,0,0.1);
}
    
 .side li{
     
          width:10px; height:10px;
   padding:30% 0;
   position:relative;
   margin:1px auto;
     white-space:pre-line;
}

 .side li a{
   
    text-align: center;
     margin:0 auto;
    padding:5%;
         color:#fff;
        text-transform: uppercase;
    font-size:1.5em;
          font-family: 'Inconsolata', monospace;

}
.logo{
     z-index: 100;
     position:fixed;
        left:2%;top:0;
}




.sns {
    position: fixed;
    z-index: 100;
    left: 5%;
    bottom: 5%;
}

.sns .link {
    font-size: 0;


}

.sns .link a {
    width: 40px;
    height: 40px;
    background: url('../img/main/bt_sns_b.png') no-repeat;
    background-size: 200px;
    display: inline-block;
    margin: 6px;
}

.sns .link a:nth-of-type(1) {
    background-position: 0px 0;
}

.sns .link a:nth-of-type(2) {
    background-position: -50px 0;
}

.sns .link a:nth-of-type(3) {
    background-position: -100px 0;
}

.sns .link a:nth-of-type(4) {
    background-position: -160px 0;
}

.scroll {
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 5%;
    text-align: center;
    transform: translateX(-50%);
    
}

.scroll p{
   color:#fff;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    text-transform: uppercase;
    position:relative;
text-shadow:2px 2px 2px rgba(0,0,0,0.8);
}

.scroll img{
    width: 25%;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.8));
}
/* --------------------------btn------------------------------*/


.a_btn{
    width:80%;
    position:absolute;
    top:50%; left:10%;
    transform:translateY(-50%);
}
.a_btn a:nth-of-type(1){
    transform:rotate(180deg);
}
.a_btn a{
    opacity:0.5;
}
.a_btn a:hover{
    opacity:1;
}

/*footer--------------------------------*/
footer{
  
    
}

footer .foot{
    margin:2%;
        position: relative;
    height:100%;
  }



footer .foot .f_t{
    text-align: center;
    white-space: pre-line;
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 2;
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%);
    padding: 2% 0;

}

footer .foot .f_t > p{
    text-align: center;
}

footer .foot .f_t > p img {
    width: 90px;
    height: 10px;
}
