
/*한글제목*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap');
/*font-family: 'Noto Serif KR', serif;*/

/*한글본문*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap');
/*font-family: 'Noto Serif KR', serif;*/

/*영어제목*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/

/* 영어본목*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
/*font-family: 'Inconsolata', monospace;*/


html,body{margin:0; }
ul, li{margin:0; padding:0;
list-style:none;}

*{

    box-sizing:border-box;
}
a{text-decoration:none;

    color:#fff;}

h1,h2,h3,h4,h5,h6,p{margin:0; padding:0;}

.f_s{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.f_a{
     display:flex;
    justify-content:center;
    align-items:center;
    
}
header,main,footer{
    width:100%;
}
/*                ----------------------------------------------------    */
header{
   position:fixed;
   z-index:100;
 display:inline-block;
}
.header{
     
    width:100%;
    height:50px;
    padding:1%;
    
    
    background:rgba(255,255,255,0.2);
  
    }
.header > a{height:50px;}
.header > a img{width:100%; }
.header .r_bt{height:50px;}
.header .r_bt img{width:100%;}
.header p a{
    padding:20px 60px;
    color:#000;
 font-family:'Noto Sans KR', sans-serif;
   font-weight: bold;
}
.header .menu-trigger{
    width:20px; height:20px;
    position:relative;
}
 .header.menu-trigger > span{
    position:absolute;
    left:0;
    background:#fff;
    width:100%; height:2px;
    
}
.header .menu-trigger > span:nth-of-type(2){
    top:50%;
    transform: translateY(-50%);
}
 .header .menu-trigger > span:nth-of-type(3){
    bottom:0;
}

/*                ----------------------------------------------------    */
main > div{height:950px;}
main > div > img{height:100%;}

.sns .link{
    font-size:0;
     position:fixed;
      z-index:100;
    left:5%; bottom:5%;
    
}

.sns .link a{
 width:40px; height:40px;
    background:url('../img/main/bt_sns_b.png') no-repeat;
    background-size:200px;
    display:inline-block;
margin:6px;}
.sns .link a:nth-of-type(1){
    background-position:0px 0;
}
.sns .link a:nth-of-type(2){
    background-position:-50px 0;
}
.sns .link a:nth-of-type(3){
    background-position:-100px 0;
}
 .sns .link a:nth-of-type(4){
    background-position:-160px 0;
}
.scroll{
     position:fixed;
       z-index:100;
left:50%; bottom:5%;
 margin:0 5px;}
.scroll img{
    width:100%;
}