@import url('common.css');



.is {
 text-align:center;
 background: #fff;
padding:3% ;
}

.is > h1 {
    padding:5% ;
    font-size: 4.5em;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
   
}

.is > p {
    white-space: pre-line;
    font-family: 'Sunflower', sans-serif;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    margin-top:1%;

}



.view {
    width: 100vw;
   

}

.view .about {
    width: 100%;
    height: 100vh;
   position:relative;
  
    overflow: hidden;
  
}

.view .about .v_list{
    width: 100%;
    height: 100%;
    position:relative;
   
    
   

}
.view .about .v_list li{
    width:100%;
    height:100%;
    position:absolute;
    left:0; top:0;
   
   
}



/*-----------------------------traffic---------------------------------*/
main {}
.traffic > h1 {
    margin:5%;
    font-size: 4.5em;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
   
}
.traffic {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 100%;


}

.traffic > img {
    position: absolute;
    left: 10%;
    bottom: 0%;
    z-index: 2;
width:20%;
}

.traffic .con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.traffic .con .map {

    margin: 10%;
}

.traffic .con .a_info {

   
    border: 1px solid #e6fafe;
    border-radius: 100%;
   
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.traffic .con .a_info > p {
   
   text-align:center;
    vertical-align:center;
    overflow: hidden;
    width: 500px;
    height: 500px;
    white-space: pre-line;
    padding: 10%;
    line-height: 2;
    font-size: 2em;
    background: #e6fafe;
    font-family: 'Sunflower', sans-serif;
    
}

/*--------------------------travel------------------------------------*/

.t_m{
    width: 100%;
    height: 100vh;
    background: url('../img/sub/beach.jpg') no-repeat;
    background-size:100% 100%;
 position:relative;
 text-align:center;

}
.t_m > h1 {
   padding-top:2%;
    font-size:8em;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    color:#fff;
   
}
.travel {
    width: 1000px;
    height:300px;
    position:absolute;
    top:50%; left:50%;
    transform:translateX(-50%) translateY(-50%);
    text-align:left;
    z-index:5;
    overflow: hidden;
}


.travel article {
  
    position: absolute;
       top:0; left:0;
   
   
}

.travel article figure {
    position: absolute;
    top:0; left:0;
  
}

.travel article figure a {
    position:absolute;
    top: 0%;
    left: 0%;
    border: 5px solid #fff;
    border-radius: 100%;
    overflow: hidden;
    width: 300px;
    height: 300px;
  
   
}

.travel article figure a img {
    width: 100%;
    height: 100%;
}

.travel article figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
   
    transform:translateX(-50%) translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    width: 300px;
    height: 300px;
    color: #fff;
}

.travel article figure:hover figcaption {
    display: none;
}



/*---------------------rooms--------------------------------------*/
.rooms > h1 {
    position:absolute;
    left:10%;
    top:10%;
    z-index:2;
   
    font-size: 5em;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
   
} 

.rooms article {

    width: 100%;
    height: 100vh;
}

.rooms article .love {

    height: 100%;
    background: url(../img/sub/love.jpeg);
}

.rooms article .only {

    height: 100%;
    background: url(../img/sub/only.jpg);
}
.rooms article .love > div{
    margin-top:20%;
}
.rooms article > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;

}

.rooms article > figure .room {
    position: relative;
    width: 70%;
    height: 40%;

}








.rooms article > figure > div .s_btn > a img {
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 8px;
}


.rooms article .love > div .s_btn > a:nth-of-type(1) img {
    transform: rotate(180deg);
}

.rooms article .only > div .s_btn > a:nth-of-type(1) img {
    transform: rotate(180deg);
}

.rooms article .love > div .s_btn {
    position: absolute;
    bottom: 40%;
    right: -5%;

}

.rooms article .only > div .s_btn {
    position: absolute;
    top: 0;
    left: -5%;

}



.rooms article > figure > figcaption {
    white-space: pre-line;
    font-size: 2.5em;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
    width: 80%;
    padding: 0 5%;
    color: rgba(0, 0, 0, 0.2);
}

.rooms article > figure > figcaption strong {
    color: #434343;
    font-family: 'Dancing Script', cursive;
    font-size: .8em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.rooms article .love figcaption {
    text-align: right;
    margin-bottom: 0%;
}

.roommap {
    width: 100vw;
    margin: 0 auto;


}

.roommap > div {
    margin: 5%;
}

.roommap > div .info_btn {
    display: block;
}

.roommap > div .info_btn a {
    border: 1px solid gray;
    padding: 1% 2%;
    font-size: 20px;
    color: #000;
    margin: 3%;

    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
}

.roommap > div .info_btn a:hover {
    background: #e5e5e5;
}

.roommap > div h1 {

    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    font-size: 5em;
}

.roommap > div h4 {
    margin: 5% auto;
    font-size: 20px;
    font-weight: 50;
    white-space: pre-line;
    line-height: 2.5;
    font-family: 'Sunflower', sans-serif;
}

.roommap > p {
    width: 80%;
    margin: 0 auto;

}

.roommap > p img {
    width: 100%;
}

/*------------------------------r_info------------------------------*/
.r_info {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
     position: relative;
}

.room_l {
    height: 100%;
   
}

.room_l li {
    width: 100%;
    height: 100%;

}

.room_o {
    height: 100%;
   
}

.room_o li {
    width: 100%;
    height: 100%;

}

.room_l li:nth-of-type(1) {
    background: url(../img/sub/l_1.jpg) center 0px no-repeat;
    background-size: 100%;
}

/*
.room_l li:nth-of-type(2){
    background:url(../img/sub/l_2.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_l li:nth-of-type(3){
    background:url(../img/sub/l_3.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_l li:nth-of-type(4){
    background:url(../img/sub/l_4.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_l li:nth-of-type(5){
    background:url(../img/sub/l_5.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_l li:nth-of-type(6){
    background:url(../img/sub/l_6.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_l li:nth-of-type(7){
    background:url(../img/sub/l_7.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_l li:nth-of-type(8){
    background:url(../img/sub/l_8.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_l li:nth-of-type(9){
    background:url(../img/sub/r_9.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_l li:nth-of-type(10){
    background:url(../img/sub/r_10.jpg) center 0px no-repeat;
 background-size:100%;
}
*/

.room_o li:nth-of-type(1) {
    background: url(../img/sub/r_1.jpg) center 0px no-repeat;
    background-size: 100%;
}

/*
.room_o li:nth-of-type(2){
    background:url(../img/sub/r_2.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_o li:nth-of-type(3){
    background:url(../img/sub/r_3.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_o li:nth-of-type(4){
    background:url(../img/sub/r_4.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_o li:nth-of-type(5){
    background:url(../img/sub/r_5.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_o li:nth-of-type(6){
    background:url(../img/sub/r_6.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_o li:nth-of-type(7){
    background:url(../img/sub/r_7.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_o li:nth-of-type(8){
    background:url(../img/sub/r_8.jpg) center 0px no-repeat;
 background-size:100%;
}
.room_o li:nth-of-type(9){
    background:url(../img/sub/r_9.jpg) center 0px no-repeat;
 background-size:100%;
}
.r_info .room_o li:nth-of-type(10){
    background:url(../img/sub/r_10.jpg) center 0px no-repeat;
 background-size:100%;
}
*/

.info {
    height: 80vw;
    position: relative;
    margin: 5%;

    font-family: 'Titillium Web', sans-serif;
}

.info > p {
    margin-top: 5%;
    width: 40%;
    height: 50%;
    box-shadow: inset 20px 0px 100px 100px #fff;
    background: url(../img/sub/rose.jpg) no-repeat;
    background-size: 100%;
}


.info > h1 {
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
}

.info > h4 {
    margin: 6% 0;
    font-size: 20px;
    font-weight: 50;
    white-space: pre-line;
    line-height: 2.5;
    font-family: 'Sunflower', sans-serif;
}


.info ul {

    float: right;
    margin: 3%;
    width: 30%;
    background: #fff;

}

.info ul > h4 {
    font-size: 1.2em;
    padding-bottom: 10px !important;
    border-bottom: 1px solid gray;
}

.info > ul li {
    line-height: 1.8;
    list-style: square;

}

/*-------------------------service-------------------------------*/
.s_info {
    width: 100%;
    height: 100vh;


}

.s_info > div {
    width: 100%;
    height: 100%;
;
}



.s_info .s_n {
    margin-left: 10%;
    padding: 0;
    background: #fff;
    width: 25%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: 1;

    flex-direction: column;
    white-space: pre-line;

    color: #000;
    font-size: 25px;
    

}


.s_info .s_n ul {
    position: relative;
    margin-top:30%;
 overflow:hidden;


}

.s_info .s_n ul li {

    display: inline-block;
    width: 100%;
    height: 100%;
  overflow:hidden;
}

.s_info .s_n > h1 {
    position: absolute;
  top:10%;
    left: -10%;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
}

.s_info .s_n ul li > h1 {
    text-align: center;
    color: #000;
    font-size: 1.2em;
    font-weight: 50;
    font-family: 'Sunflower', sans-serif;
    

}

.s_info .s_n ul li > h1 strong {
    font-size: 1.5em;
    font-weight: 50;
}

.s_info .s_n ul li > p {
    text-align: center;
    margin-top: 5%;
    font-size: 0.8em;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
   
}

.s_info .s_n .a_btn {
    width: 90%;
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
}

.s_info .s_n .a_btn > a {
    font-size: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 40px;
}

.s_info .s_n .a_btn > a img {
    width: 100%;

}

.s_info .s_n .a_btn > a:nth-of-type(1) {
    transform: rotate(180deg);
}

.s_info .s_n .a_btn > a {
    opacity: 0.5;
}

.s_info .s_n .a_btn > a:hover {
    opacity: 1;
}



.s_info .s_i {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
   
}

.s_info .s_i li p {
overflow:hidden;
    width: 100vw;
    height: 100%;
}

.s_info .s_i li p img {

    width: 100%;
    height: 100%;
}

/*----------------c_n-----------------------------*/


.c_notice .c_n {
    width: 100%;
    height: 50vh;
    background: url(../img/sub/pen.jpg) no-repeat;
    background-size: 100% 100%;
}

.c_notice .c_n > h1 {

    text-align: center;
    color: #fff;

    white-space: pre-line;
    font-size: 300%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
}

.c_notice .c_n > h1 strong {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: none;
}



.c_notice .c_t {
    margin: 2% auto;
    width: 70%;

    border: 1px solid #000;
    border-collapse:collapse;
}

.c_notice .c_t caption {
    width: 100%;
    font-size: 100%;
    white-space: pre-line;
    text-align: center;
    margin-bottom: 2%;
    line-height: 2;
    text-transform: uppercase;
}

.c_notice .c_t caption > strong {
    font-size: 2em;
}

.c_notice .c_t thead {
   
 
    background: #f8f3ec;
    text-align:center;
}

.c_notice .c_t thead tr{
    
    
}

.c_notice .c_t thead th:nth-of-type(1) {
   width:10%;
}
.c_notice .c_t thead th:nth-of-type(2) {
   width:50%;
}
.c_notice .c_t thead th:nth-of-type(3) {
   width:15%;
}
.c_notice .c_t thead th:nth-of-type(4) {
   width:15%;
}
.c_notice .c_t thead th:nth-of-type(5) {
   width:10%;
}

.c_notice .c_t tbody {
   
 text-align:center;
     
}

.c_notice .c_t tbody tr {
     border-bottom: 1px solid #000;
   
}
.c_notice .c_t tbody tr:nth-of-type(1){
   
}

.c_notice .c_t tbody tr:nth-of-type(1) td:nth-of-type(1) {
   
    background:#e5e5e5;
       
}

/*----------------c_p-----------------------------*/

.c_photo {}

.c_photo .c_n {
    width: 100%;
    height: 50vh;
    background: url(../img/sub/pen.jpg) no-repeat;
    background-size: 100% 100%;
}

.c_photo .c_n > h1 {

    text-align: center;
    color: #fff;

    white-space: pre-line;
    font-size: 3em;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 100;
}

.c_photo .c_n > h1 strong {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: none;
}


.c_photo > h1 {
    line-height: 2;
    width: 100%;
    font-size: 100%;
    white-space: pre-line;
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.c_photo > h1 strong {
    font-size: 2em;
}

.c_photo .f {
    width: 80%;
    
    border: 1px solid #000;
    margin: 2% auto;
    padding:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
}

.c_photo .f li {
   margin-right:5%;
}

.c_photo .f li .f_no_p > a img {
   width:200px;height:150px;
    margin:5% auto;
}
.c_photo .f li .f_no_n{
     text-align:center;
}
.c_photo .f li .f_no_n > a{
   
    color:#000;
}

/*----------------------media480---------------------------*/
@media (max-width:480px) {

    body {
        width: 100vw;
    }

    /*    ----------btn-----------------------------*/
    .scroll {
        position: fixed;
        z-index: 100;
        left: 50%;
        bottom: 5%;
        text-align: center;
        transform: translateX(-50%);

    }

    .scroll p {
        color: #fff;
        font-family: 'Inconsolata', monospace;
        font-size: 1.2em;
        text-transform: uppercase;
        position: relative;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    }

    .scroll img {
        width: 5vw;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
    }

    .sns .link a {
        width: 25px;
        height: 25px;
        background: url('../img/main/bt_sns_b.png') no-repeat;
        background-size: 150px;
        display: inline-block;
        margin: 3px;
    }

    .sns .link a:nth-of-type(1) {
        background-position: 8px 0;
    }

    .sns .link a:nth-of-type(2) {
        background-position: -39px 0;
    }

    .sns .link a:nth-of-type(3) {
        background-position: -83px 0;
    }

    .sns .link a:nth-of-type(4) {
        background-position: -130px 0;
    }

    .logo {

        z-index: 200;
        position: fixed;
        left: 2%;
        top: 0;
    }

    .logo img {
        width: 20vw;
    }

    .r_btn {

        z-index: 200;
        position: fixed;
        right: 50%;
        top: 80%;
        transform: translateX(50%);
    }

    .r_btn img {
        width: 30vw;
    }

    .side {
        display: none;
    }

    .menu-trigger {
        position: fixed;
        right: 2%;
        top: 2%;
        z-index: 200;
        display: block;
    }

    .c_btn a {
        padding: 3%;
        font-size: 1em;
    }

    .c_btn a {
        width: 30%;
    }

    .info_btn a {
        padding: 3%;
        font-size: 1em;
    }

    .indi > li{
        margin-right:5px;
        width:8px;
        height:8px;
    }

    .a_btn > a img {
        width:5vw;
    }

    /*    -----------------------------header------------*/
    .header {
        background: 0;
    }

    .header nav.active {
        transform: translateX(0%);
    }

    .header nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 200;
        width: 100%;
        height: 100vh;
        display: block;
        background: #fff;
        margin: 0;
        transform: translateX(100%);
        transition: .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*        text-align: center;*/
        padding: 20% 0 40% 0;

    }

    .header nav > div {
        width: 70%;

    }

    .header nav > div > a {
        display: inline-block;
        font-size: 1.5em;
        padding: 5% 0;

    }

    .header nav > div ul {
        background: rgba(255, 255, 255, 0.5);
        width: 60%;
        position: relative;
        top: 0;
        right: 0;
        display: none;
        margin: 5%;

    }

    .header nav > div ul li {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
    }

    .header nav > div ul li a {
        font-family: 'Titillium Web', sans-serif;
        padding: 1%;
    }

    .header nav > div:hover {
        background: #f8f3ec;
        width: 100%;
        height: auto;
    }

    .header nav > div:hover ul {
        display: inline-block;
    }



    /*   ---------------------------room-------------*/

.rooms > h1 {
    position:absolute;
    left:5%;
    top:5%;
    font-size:3em;}
    .rooms article {
        display: block;
        height: 100%;


    }
    .room_l{
        margin-top:20%;
    }

    .rooms article .love {
        width: 100%;
        padding: 3%;

    }
   

    .rooms article .only {
        width: 100%;
        padding: 3%;

    }

    .rooms article > figure .room {
        height: 30vh;
    }

    .rooms article > figure > div {
        margin: 0% auto;
    }

    .rooms article > figure > div .s_btn > a img {
        width: 50%;
        height: 50%;

    }


    .rooms article .love > div .s_btn {
        right: -15%;
        bottom: 10%;

    }

    .rooms article .only > div p {
        float: right;
    }

    .rooms article .only > div .s_btn {
        top: 15%;
        left: -10%;

    }

    .rooms article > figure > figcaption {
        font-size: 1.2em;

    }



    .roommap > div {
        margin: 10%;
    }

    .roommap > div .info_btn {
        display: block;

    }

    .roommap > div .info_btn a {
        width: 30%;
        padding: 2% 3%;
        margin: 1%;
        font-size: 80%;
    }

    .roommap > div h1 {


        font-size: 3em;
    }

    .roommap > div h4 {
        margin: 5% auto;
        font-size: 0.5em;
    }

    .info > h1 {
        font-size: 2.5em;
    }

    .info > h4 {
        font-size: 0.5em;
    }

    .r_info {
        height: 30vh;

    }

    .info > p {
        display: none;
    }

    .info > ul {
        margin-top: 15%;
        width: 60%;
        font-size: 0.5em;
    }

    /*---------------about---------------------------*/

  

    .is {

        margin-top: 5%;
    }

    .is > h1 {
        font-size: 3em;
        margin-bottom: 5%;
    }

    .is > p {
        text-align: center;
        font-size: 0.1em;
        display: block;
    }
    .view .about{
        height:30vh;
        overflow:hidden;
    }
    .traffic {
        padding: 0;
        margin: 0 auto;
        width: 80%;
        height: 100%;


    }
    .traffic > h1{
        margin:10% 0 auto;
        font-size:3em;
    }
    .traffic > img {
        position: absolute;
        left: -35%;
        bottom: -30%;
        width: 60%;

        z-index: 2;

    }

    .traffic .con {
        flex-direction: column;


    }

    .traffic .con .map {

        margin: 10%;
    }
    .traffic .con .a_info{
        width:400px;
        height:400px;
    }
    .traffic .con .a_info > p{
        font-size:1.5em;
         width:400px;
        height:400px;
    }

    /*   ---------------------------- travel&service&faci----------------------------------------*/
      .travel article {
        flex-direction: column;
    }
    .s_info .s_n {
        font-size: 80%;
        width: 100%;
        height: 30%;
        margin-left: 20%;
    }

    .s_info .s_n > h1 {
        left: -10%;
        font-size:3em;
    }

    .s_info .s_n > ul {
        width: 80%;
        margin-top:0%;

    }
    .s_info .s_n .a_btn{
        width:70%;
        top:50%;
    }
    .s_info .s_n .a_btn > a img{
        width:5vw;
    }

    /*----------------------------------------------community------------------------------------*/
   
    .c_notice {
        width: 100%;
    }
     .c_notice .c_n > h1 {
        font-size: 150%;
    }
    .c_notice .c_t thead,
     .c_notice .c_t tbody{
         font-size:10px;
    }
    
     .c_photo {
        width: 100%;
    }

    .c_photo .c_n > h1 {
        font-size: 150%;
    }

   
    .c_photo .f {
        flex-direction:column;
    }

    /*    ----------footer---------------*/
    footer {

        width: 100vw;

    }

    footer .foot {
        text-align: center;
        width: 100%;
        margin: 0 auto;

    }

    footer .foot .f_t {
        line-height: 0.8;
        width: 100%;
        margin-top: 20%;
        font-size: 0.5em;
 
    }
    footer .foot .f_t > p:nth-of-type(1){
        margin-top:2%;
    }
    footer .foot .f_t > p:nth-of-type(2) {
        display: none;
        
    }
}
