@import url('common.css');
.header .menu-trigger{
    width:25px; height:25px;
    position:relative;
}
 .header .menu-trigger > span{
    position:absolute;
    left:0; 
    background:#fff;
    width:100%; height:2px;
   
}
.header .menu-trigger > span:nth-of-type(2){
    top:50%;
    transform: translateY(-50%);
}
 .header .menu-trigger > span:nth-of-type(3){
    bottom:0;
}
.header .menu-trigger.active{
    
}
.header .menu-trigger.active > span{
   transform:translateY(-50%) rotate(45deg);
    bottom:0;
   
}
.header .menu-trigger.active > span:nth-of-type(2){
   opacity:0;
}
 .header .menu-trigger.active > span:nth-of-type(3){
     transform:translateY(50%) rotate(-45deg);
}

.side{
    width:2%;
    height:57%;
    padding:auto;
         position:fixed;
      z-index:100;
    right:5%; bottom:20%;
white-space: pre-line;
    background:rgba(0,0,0,0.1);
}
    
 .side li{
     display:block;
          width:10px; height:10px;
   padding:30% 0;
   position:relative;
   margin:1px auto;
     white-space:pre-line;
}

 .side li a{
   
    text-align: center;
     margin:0 auto;
    padding:5%;
         color:#fff;
        text-transform: uppercase;
    font-size:1.5em;
          font-family: 'Inconsolata', monospace;

}
/*main---------------------------------*/
main{
  
 
}


main div{
     position:relative;
    width:100%; 
      } 
main div > img{width:100%;
    height:100vh;
}
 
 
.rooms{position:relative;}
.rooms > div{width:80%;
position:absolute;
left:10%; bottom:50%;
transform:translateY(-50%);
}
.rooms > div .a_l{
   
    transform:rotate(180deg);
   }
.rooms > div > a{
    opacity:0.6;
}
.rooms > div > a:hover{
    opacity:1;
   
   
}
.service{
    width:100%;
    height:100vh;
    overflow:hidden;
   position:relative;
}
.service > article{
    width:80%; height:100%;
    float:right;
  
     
}
.service > article > div{
    width:30%;
 position:absolute;
    top:20%; left:-5%;
    
}
.service > article > div h1{
    text-align:center;
   font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}
.service > article > div h1 strong{
    display:block;
    margin:10%;
   font-family: 'Dancing Script', cursive;
    font-size: 3em;
}
.service > article .s{
   height:100%;
}
.service > article .s li{ 
height:100%;
   position:relative;
}

.service > article .s li img{width:100%;
height:100%;}
.service > article .s li a{
width:100%; height:100%;}
.service > article .s li a h2{
    margin:0; padding:0;
    background:rgba(0,0,0,0.5);
    width:100%; height:100%;
    position: absolute;
    top:0; left:0;
     display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
    white-space:pre-line;
    text-align:center;
    color:#fff;
     font-size:25px;
    line-height:1.5;
}
.service > article .s li a h2 strong{
    font-size:50px;
    font-weight: 100;
   font-family: 'Titillium Web', sans-serif;
}
.service > article .s li:nth-of-type(1):hover h2{
    background:none;
     transition:.5s;
    opacity:0;
}
.service > article .s li:nth-of-type(2):hover h2{ background:none;
    opacity:0;
 transition:.5s;}
.service > article .s li:nth-of-type(3):hover h2{ background:none;
    opacity:0;
 transition:.5s;}

.facilities{
    margin:0;
           background-size:100%;
   height:100vh;
}
.facilities .vdo{
     margin:0; padding:0;
    position:relative;
    overflow:hidden;
    width:100%; height:100%;
     flex-direction: column;
}
.facilities .vdo video{
    width:100%; height:100%;
    position:absolute;
    z-index:0;
    left:0; bottom:0;
    transform:scale(1.2);
}
.facilities .vdo .title{
    width:100%;
   padding:3% 0;
     background:rgba(0,0,0,0.2);
        
        white-space: pre-line;
    
}
.facilities .vdo .title h1{
    color:#fff;
    font-size:25px;
        text-align:center;
      font-family: 'Titillium Web', sans-serif;
    
}
.facilities .vdo .title h1 strong{
       font-size:80px;
     font-weight:none;
    font-family: 'Noto Sans KR', sans-serif;
    }
.facilities .vdo article{
   margin:0 auto;
    width:80%;

}

.facilities .vdo article figure{
    position: relative;
  
margin:0;
 width:300px;
height:340px;
    overflow:hidden;
}
.facilities .vdo article figure p{
    opacity:1;
    overflow:hidden;
    
}
.facilities .vdo article figure p:before{
        content:'';
    width:300px; height:340px;
    position:absolute;
    left:0; bottom:3%;
    background:rgba(0,0,0,0.5);
    
}
.facilities .vdo article figure p:after{
    content:'';
    display:block;
    position:absolute;
    left:10px; bottom:6%;
    border:2px solid #fff;
    width:280px; height:310px;
      
}

.facilities .vdo article figure:hover p:before,
.facilities .vdo article figure:hover p:after,
.facilities .vdo article figure:hover figcaption
{
    transition:.5s;
 opacity:0;
}
.facilities .vdo article figure p img{width:150%;
height:200%;}
.facilities .vdo article figure figcaption{
    width:100%; 
    height:100%;
    position:absolute;
    left:0%; bottom:0%;
    text-align:center;   
    white-space:pre-line;
    color:#fff;
     font-family: 'Titillium Web', sans-serif;
    
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
   
}



