@import url("common.css");
.tit_w {
  padding: 3%;
  font-size: 8em;
  font-family: "Dancing Script", cursive;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.tit_b {
  padding: 3%;
  font-size: 8em;
  font-family: "Dancing Script", cursive;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.is {
  text-align: center;
  background: #fff;
  padding: 3%;
}

.is > p {
  white-space: pre-line;
  font-family: "Sunflower", sans-serif;
  line-height: 2;
  font-size: 20px;
  text-align: center;
  margin-top: 1%;
}

.view {
  width: 100vw;
}

.view .about {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.view .about .v_list {
  width: 100%;
  height: 100%;
  position: relative;
}

.view .about .v_list li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/*-----------------------------traffic---------------------------------*/
.traffic {
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.traffic > img {
  position: absolute;
  left: 10%;
  bottom: 0%;
  z-index: 2;
  width: 20%;
}

.traffic .con {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traffic .con .map {
  margin: 10%;
}

.traffic .con .a_info {
  border: 1px solid #e6fafe;
  border-radius: 100%;
  overflow: hidden;
  width: 500px;
  height: 500px;
}

.traffic .con .a_info > p {
  text-align: center;
  vertical-align: center;
  overflow: hidden;
  width: 500px;
  height: 500px;
  white-space: pre-line;
  padding: 10%;
  line-height: 2;
  font-size: 2em;
  background: #e6fafe;
  font-family: "Sunflower", sans-serif;
}

/*--------------------------travel------------------------------------*/
.t_m {
  width: 100%;
  height: 100vh;
  background: url("../img/sub/beach.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  text-align: center;
}

.t_m .travel {
  width: 1050px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  text-align: left;
  z-index: 5;
  overflow: hidden;
}

.t_m .travel article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.t_m .travel article figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: inline-block;
}

.t_m .travel article figure a {
  position: absolute;
  top: 0%;
  left: 0%;
  border: 5px solid #fff;
  border-radius: 100%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.t_m .travel article figure a img {
  width: 100%;
  height: 100%;
}

.t_m .travel article figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  color: #fff;
}

.t_m .travel article figure:hover figcaption {
  display: none;
}

/*---------------------rooms--------------------------------------*/
.rooms article {
  width: 100%;
  height: 90vh;
}

.rooms article .love {
  height: 100%;
  background: url(../img/sub/love.jpeg);
}

.rooms article .only {
  height: 100%;
  background: url(../img/sub/only.jpg);
}

.rooms article .love > div {
  margin-top: 10%;
}

.rooms article .love > .s_btn > a:nth-of-type(1) img {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.rooms article > figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 5% auto;
}

.rooms article > figure .room {
  position: relative;
  width: 70%;
  height: 40%;
  overflow: hidden;
}

.rooms article > figure .room ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rooms article > figure .room ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rooms article > figure > .s_btn > a img {
  width: 30px;
  height: 30px;
  display: block;
  margin-bottom: 8px;
}

.rooms article .only > .s_btn > a:nth-of-type(1) img {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.rooms article .love > .s_btn {
  position: absolute;
  bottom: 2%;
  left: 43%;
}

.rooms article .only > .s_btn {
  position: absolute;
  bottom: -8%;
  left: 55%;
}

.rooms article > figure > figcaption {
  white-space: pre-line;
  font-size: 2.5em;
  line-height: 1.5;
  font-family: "Dancing Script", cursive;
  width: 80%;
  padding: 0 5%;
  color: rgba(0, 0, 0, 0.2);
}

.rooms article > figure > figcaption strong {
  color: #434343;
  font-family: "Dancing Script", cursive;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.rooms article .love figcaption {
  text-align: right;
  margin-bottom: 2%;
}

.roommap {
  width: 100vw;
  margin: 0 auto;
}

.roommap > div {
  margin: 5%;
}

.roommap > div .info_btn {
  display: block;
}

.roommap > div .info_btn a {
  border: 1px solid gray;
  padding: 1% 2%;
  font-size: 20px;
  color: #000;
  margin: 3%;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
}

.roommap > div .info_btn a:hover {
  background: #d3e8e9;
}

.roommap > div h1 {
  font-family: "Dancing Script", cursive;
  text-transform: uppercase;
  font-size: 5em;
}

.roommap > div h4 {
  margin: 5% auto;
  font-size: 20px;
  font-weight: 50;
  white-space: pre-line;
  line-height: 2.5;
  font-family: "Sunflower", sans-serif;
}

.roommap > p {
  width: 80%;
  margin: 0 auto;
}

.roommap > p img {
  width: 100%;
}

/*------------------------------r_info------------------------------*/
.r_info {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.room_l,
.room_o {
  height: 100%;
}

.room_l li,
.room_o li {
  width: 100%;
  height: 100%;
}

.room_l li:nth-of-type(1) {
  background: url(../img/sub/l_1.jpg) center 0px no-repeat;
  background-size: 100%;
}

.room_o li:nth-of-type(1) {
  background: url(../img/sub/r_1.jpg) center 0px no-repeat;
  background-size: 100%;
}

.info {
  height: 80vw;
  position: relative;
  margin: 5%;
  font-family: "Titillium Web", sans-serif;
}

.info > p {
  margin-top: 5%;
  width: 40%;
  height: 50%;
  -webkit-box-shadow: inset 20px 0px 100px 100px #fff;
          box-shadow: inset 20px 0px 100px 100px #fff;
  background: url(../img/sub/rose.jpg) no-repeat;
  background-size: 100%;
}

.info > h1 {
  font-size: 100px;
  font-family: "Dancing Script", cursive;
  text-transform: uppercase;
}

.info > h4 {
  margin: 6% 0;
  font-size: 20px;
  font-weight: 50;
  white-space: pre-line;
  line-height: 2.5;
  font-family: "Sunflower", sans-serif;
}

.info ul {
  float: right;
  margin: 3%;
  width: 30%;
  background: #fff;
}

.info ul > h4 {
  font-size: 1.2em;
  padding-bottom: 10px !important;
  border-bottom: 1px solid gray;
}

.info > ul li {
  line-height: 1.8;
  list-style: square;
}

/*-------------------------service-------------------------------*/
.service {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.service .title {
  width: 100%;
  padding: 1% 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: pre-line;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.service .title h1 {
  font-size: 8em;
  font-family: "Dancing Script", cursive;
  text-transform: uppercase;
  color: #fff;
  font-weight: none;
}

.service .title strong {
  font-size: 30px;
  font-weight: none;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
}

.service > article {
  width: 100%;
  height: 100%;
  padding: 5%;
  background: url(../img/main/water.jpg) center no-repeat;
  background-size: 100%;
}

.service > article .s {
  height: 30%;
}

.service > article .s li {
  width: 40%;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}

.service > article .s li a {
  width: 100%;
  height: 100%;
  display: block;
}

.service > article .s li a img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.service > article .s li a h2 {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: pre-line;
  text-align: center;
  color: #fff;
  font-size: 60px;
  line-height: 1.5;
  font-weight: normal;
  font-family: "Sunflower", sans-serif;
}

.service > article .s li a h2 strong {
  font-size: 50px;
  font-weight: normal;
  font-family: "Sunflower", sans-serif;
}

.service > article .s li:nth-of-type(1):hover h2 {
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.service > article .s li:nth-of-type(2):hover h2 {
  background: none;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* ------------------------fac------------------- */
.fac {
  margin: 0;
  background-size: 100%;
  height: 100vh;
}

.fac .vdo {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fac .vdo video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.title {
  width: 100%;
  padding: 1% 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: pre-line;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title h1 {
  font-size: 8em;
  font-family: "Dancing Script", cursive;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: none;
}

.title strong {
  font-size: 30px;
  font-weight: none;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
}

.fac .vdo article {
  margin: 5% auto;
  width: 80%;
}

.fac .vdo article figure {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.fac .vdo article figure p {
  opacity: 1;
  width: 300px;
  height: 300px;
}

.fac .vdo article figure p img {
  width: 100%;
  height: 100%;
}

.fac .vdo article figure p:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.fac .vdo article figure p:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 4%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border: 2px solid #fff;
  width: 90%;
  height: 90%;
}

.fac .vdo article figure:hover p:before, .fac .vdo article figure:hover p:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.fac .vdo article figure:hover figcaption {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.fac .vdo article figure p img {
  width: 100%;
  height: 100%;
}

.fac .vdo article figure figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  text-align: center;
  white-space: pre-line;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  width: 80vw;
  height: 80vh;
  background: rgba(255, 255, 255, 0.8);
}

.popup.active {
  display: block;
}

.popup figure {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.popup figure p {
  width: 40%;
  height: 50%;
  text-align: center;
  margin-right: 3%;
}

.popup figure p img {
  width: 100%;
  height: 100%;
}

.popup figure figcaption {
  width: 40%;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5;
  white-space: pre-line;
  margin-bottom: 5%;
}

.popup figure figcaption h2 {
  text-align: center;
  text-transform: uppercase;
  white-space: pre-line;
  font-size: 2em;
  margin-bottom: 3%;
}

/*----------------c_n-----------------------------*/
.c_notice .c_n {
  width: 100%;
  height: 50vh;
  background: url(../img/sub/pen.jpg) no-repeat;
  background-size: 100% 100%;
}

.c_notice .c_n > h1 {
  text-align: center;
  color: #fff;
  white-space: pre-line;
  font-size: 300%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
}

.c_notice .c_n > h1 strong {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  font-weight: none;
}

.c_notice .c_t {
  margin: 2% auto;
  width: 70%;
  border: 1px solid #000;
  border-collapse: collapse;
}

.c_notice .c_t caption {
  width: 100%;
  font-size: 100%;
  white-space: pre-line;
  text-align: center;
  margin-bottom: 2%;
  line-height: 2;
  text-transform: uppercase;
}

.c_notice .c_t caption > strong {
  font-size: 2em;
}

.c_notice .c_t thead {
  background: #f8f3ec;
  text-align: center;
}

.c_notice .c_t thead th:nth-of-type(1) {
  width: 10%;
}

.c_notice .c_t thead th:nth-of-type(2) {
  width: 50%;
}

.c_notice .c_t thead th:nth-of-type(3), .c_notice .c_t thead th:nth-of-type(4) {
  width: 15%;
}

.c_notice .c_t thead th:nth-of-type(5) {
  width: 10%;
}

.c_notice .c_t tbody {
  text-align: center;
}

.c_notice .c_t tbody tr {
  border-bottom: 1px solid #000;
}

.c_notice .c_t tbody tr:nth-of-type(1) td:nth-of-type(1) {
  background: #e5e5e5;
}

/*----------------c_p-----------------------------*/
.c_photo .c_n {
  width: 100%;
  height: 50vh;
  background: url(../img/sub/pen.jpg) no-repeat;
  background-size: 100% 100%;
}

.c_photo .c_n > h1 {
  text-align: center;
  color: #fff;
  white-space: pre-line;
  font-size: 3em;
  font-family: "Titillium Web", sans-serif;
  font-weight: 100;
}

.c_photo .c_n > h1 strong {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  font-weight: none;
}

.c_photo > h1 {
  line-height: 2;
  width: 100%;
  font-size: 100%;
  white-space: pre-line;
  text-align: center;
  margin-bottom: 2%;
  text-transform: uppercase;
}

.c_photo > h1 strong {
  font-size: 2em;
}

.c_photo .f {
  border: 1px solid #000;
  width: 80%;
  margin: 2% auto;
  padding: 2%;
}

.c_photo .f li > span {
  display: block;
  margin-bottom: 2px;
}

.c_photo .f li > p {
  margin-top: 2px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*----------------------media480---------------------------*/
@media (max-width: 480px) {
  body {
    width: 100vw;
  }
  /*    ----------btn-----------------------------*/
  .scroll {
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 5%;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .scroll p {
    color: #fff;
    font-family: "Inconsolata", monospace;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
  .scroll img {
    width: 5vw;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
  }
  .sns .link a {
    width: 25px;
    height: 25px;
    background: url("../img/main/bt_sns_b.png") no-repeat;
    background-size: 150px;
    display: inline-block;
    margin: 3px;
  }
  .sns .link a:nth-of-type(1) {
    background-position: 8px 0;
  }
  .sns .link a:nth-of-type(2) {
    background-position: -39px 0;
  }
  .sns .link a:nth-of-type(3) {
    background-position: -83px 0;
  }
  .sns .link a:nth-of-type(4) {
    background-position: -130px 0;
  }
  .side {
    display: none;
  }
  .menu-trigger {
    display: block;
  }
  .menu-trigger.active > a span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
  }
  .menu-trigger.active > a span:nth-of-type(2) {
    display: none;
  }
  .menu-trigger.active > a span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
  }
  .c_btn a {
    padding: 3%;
    font-size: 1em;
    width: 30%;
  }
  .info_btn a {
    padding: 3%;
    font-size: 1em;
  }
  .indi > li {
    margin-right: 5px;
    width: 8px;
    height: 8px;
  }
  .a_btn > a img {
    width: 7vw;
  }
  /*    -----------------------------header------------*/
  header {
    background: 0;
  }
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
    display: block;
    background: #fff;
    margin: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20% 0 40% 0;
  }
  header nav.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header nav > div {
    width: 70%;
    padding-top: 5%;
  }
  header nav > div .logo {
    z-index: 200;
    position: fixed;
    left: 2%;
    top: 2%;
    width: 20%;
    height: 8%;
  }
  header nav > div .r_btn {
    z-index: 200;
    position: fixed;
    right: 50%;
    top: 80%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 30%;
    height: 8%;
  }
  header nav > div > a {
    font-size: 1.5em;
  }
  header nav > div .t_list,
  header nav > div .s_list {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header nav > div ul {
    background: ivory;
    width: 80%;
    position: static;
    bottom: 0;
    display: none;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding: 4%;
  }
  header nav > div ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 auto;
  }
  header nav > div ul li a {
    font-size: 1.1em;
    padding: 1%;
  }
  /*   ---------------------------room-------------*/
  .rooms > h1 {
    position: absolute;
    left: 50%;
    top: 3%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 3em;
  }
  .rooms article {
    display: block;
    height: 100%;
  }
  .rooms article .love,
  .rooms article .only {
    width: 100%;
    padding: 3%;
  }
  .rooms article .love .room {
    margin-top: 20%;
  }
  .rooms article > figure {
    margin: 0 auto;
  }
  .rooms article > figure .room {
    height: 50vh;
  }
  .rooms article > figure .room ul {
    height: 50vh;
  }
  .rooms article > figure > div {
    margin: 0% auto;
  }
  .rooms article > figure > div .s_btn > a img {
    width: 50%;
    height: 50%;
  }
  .rooms article .love .s_btn {
    left: 85%;
    bottom: 40%;
  }
  .rooms article .love .s_btn img {
    width: 70%;
    height: 70%;
  }
  .rooms article .only p {
    float: right;
  }
  .rooms article .only .s_btn {
    left: 85%;
    bottom: -40%;
  }
  .rooms article .only .s_btn img {
    width: 70%;
    height: 70%;
  }
  .rooms article > figure > figcaption {
    font-size: 1.2em;
    line-height: none;
  }
  .roommap > div {
    margin: 10%;
  }
  .roommap > div .info_btn {
    display: block;
  }
  .roommap > div .info_btn a {
    width: 30%;
    padding: 2% 3%;
    margin: 1%;
    font-size: 80%;
  }
  .roommap > div h1 {
    font-size: 3em;
  }
  .roommap > div h4 {
    margin: 5% auto;
    font-size: 0.5em;
  }
  .info > h1 {
    font-size: 2.5em;
  }
  .info > h4 {
    font-size: 0.5em;
  }
  .r_info {
    height: 30vh;
  }
  .info > p {
    display: none;
  }
  .info > ul {
    margin-top: 15%;
    width: 60%;
    font-size: 0.5em;
  }
  /*---------------about---------------------------*/
  .is {
    margin-top: 5%;
  }
  .is > h1 {
    font-size: 3em;
  }
  .is > p {
    text-align: center;
    font-size: 0.1em;
    display: block;
  }
  .view .about {
    height: 60vh;
    overflow: hidden;
  }
  .traffic {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 100%;
  }
  .traffic > h1 {
    margin: 10% 0 auto;
    font-size: 3em;
  }
  .traffic > img {
    position: absolute;
    left: -35%;
    bottom: -30%;
    width: 60%;
    z-index: 2;
  }
  .traffic .con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .traffic .con .map {
    margin: 10%;
  }
  .traffic .con .a_info {
    width: 400px;
    height: 400px;
  }
  .traffic .con .a_info > p {
    font-size: 1.5em;
    width: 400px;
    height: 400px;
  }
  .service .title {
    background: rgba(0, 0, 0, 0);
  }
  .service .title h1 {
    font-size: 3em;
  }
  .service .title strong {
    display: none;
  }
  .service > article {
    background-size: 100% 100%;
  }
  .service > article .s {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .service > article .s li {
    width: 70%;
    margin: 3% 0 3% 0;
  }
  .service > article .s li a h2 {
    background: rgba(0, 0, 0, 0.3);
    font-size: 25px;
  }
  /* ------------------------fac------------------- */
  .fac {
    height: 140vh;
  }
  .fac .vdo video {
    background-position: bottom;
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  .title {
    padding: 3%;
    background: rgba(255, 255, 255, 0.2);
  }
  .title h1 {
    font-size: 3em;
  }
  .title strong {
    display: none;
  }
  .fac .vdo article {
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fac .vdo article figure {
    margin: 2px 0;
  }
  .fac .vdo article figure p {
    width: 250px;
    height: 250px;
  }
  .fac .vdo article figure figcaption {
    font-size: 1em;
  }
  .popup {
    width: 95vw;
    height: 95vh;
  }
  .popup figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup figure p {
    width: 70%;
    height: 40%;
    text-align: center;
    margin-bottom: 6%;
  }
  .popup figure figcaption {
    width: 90%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
  }
  .popup figure figcaption h2 {
    font-size: 1.2em;
    margin-bottom: 5%;
  }
  /*   ---------------------------- travel----------------------------------------*/
  .tit_w {
    padding-top: 10%;
    font-size: 5em;
  }
  .t_m .travel {
    width: 390px;
    height: 500px;
  }
  .t_m .travel article {
    width: 400px;
    height: 400px;
    top: 30%;
  }
  .t_m .travel article figure {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: inline-block;
  }
  .t_m .travel article figure figcaption {
    width: 100%;
    height: 100%;
    font-size: 1em;
  }
  .t_m .a_btn {
    width: 90%;
    left: 5%;
    top: 30%;
    z-index: 10;
  }
  .s_info .s_n {
    font-size: 80%;
    width: 100%;
    height: 30%;
    margin-left: 20%;
  }
  .s_info .s_n > h1 {
    left: -10%;
  }
  .s_info .s_n > ul {
    width: 80%;
    margin-top: 0%;
  }
  .s_info .s_n .a_btn {
    width: 70%;
    top: 50%;
  }
  .s_info .s_n .a_btn > a img {
    width: 7vw;
  }
  /*----------------------------------------------community------------------------------------*/
  .c_notice {
    width: 100%;
  }
  .c_notice .c_n {
    width: 120%;
  }
  .c_notice .c_n > h1 {
    font-size: 150%;
  }
  .c_notice .c_t {
    width: 95%;
  }
  .c_notice .c_t thead,
  .c_notice .c_t tbody {
    font-size: 14px;
  }
  .c_photo {
    width: 100%;
  }
  .c_photo .c_n > h1 {
    font-size: 150%;
  }
  .c_photo .f {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  /*    ----------footer---------------*/
  footer {
    width: 100vw;
    height: 10vh;
  }
  footer .foot {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  footer .foot .f_t {
    line-height: 0.8;
    width: 100%;
    margin-top: 10%;
    font-size: 0.5em;
  }
  footer .foot .f_t > p:nth-of-type(1) {
    margin-top: 2%;
  }
  footer .foot .f_t > p:nth-of-type(2) {
    display: none;
  }
}
/*# sourceMappingURL=daon_s.css.map */