@import url('common.css');

/*main---------------------------------*/

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.scroll {
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 5%;
  text-align: center;
  transform: translateX(-50%);
  display: block;

  &.active {
    display: none;
  }

  p {
    color: #fff;
    font-family: "Inconsolata", monospace;
    font-size: 1.5em;
    text-transform: uppercase;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }

  img {
    width: 25%;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
  }
}

main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 1s;
  z-index: 10;

  > div {
    height: 100vh;
    position: relative;

    > img {
      width: 100%;
      height: 100%;
    }
  }
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);

  .st path {
    fill: #fff;
  }

  .line {
    fill: transparent;
    stroke: #fff;
    stroke-width: 40px;
    stroke-dasharray: 4000px;
    stroke-dashoffset: 4000px;
    animation: dash 5s forwards;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0px;
  }
}



.service {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  > article {
    width: 100%;
    height: 100%;
    float: right;

    > div {
      width: 100%;
      padding: 20vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 1s;
      opacity: 1;
      background: url(../img/main/water.jpg) center no-repeat;
      background-size: 100%;

      &.fade {
        animation: fadeOut 15s forwards;
      }

      h2 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 3em;
        font-weight: normal;
        font-family: 'Sunflower', sans-serif;
        color: #fff;

        strong {
          display: block;
          margin: 5%;
          font-family: 'Dancing Script', cursive;
          font-size: 5em;
        }
      }
    }

    .s {
      height: 100%;
      display: flex;
      justify-items: flex-end;
      opacity: 0;

      &.fade {
        animation: fadeIn 5s forwards;
        animation-delay: 2s;
      }

      li {
        width: 33%;
        height: 100%;
        position: relative;

        img {
          width: 100%;
          height: 100%;
        }

        a {
          width: 100%;
          height: 100%;

          h2 {
            margin: 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            white-space: pre-line;
            text-align: center;
            color: #fff;
            font-size: 30px;
            line-height: 1.5;
            font-weight: normal;
            font-family: 'Sunflower', sans-serif;

            strong {
              font-size: 50px;
              font-weight: normal;
              font-family: 'Sunflower', sans-serif;
            }
          }
        }

        &:nth-of-type(1):hover h2 {
          background: none;
          transition: .5s;
          opacity: 0;
        }

        &:nth-of-type(2):hover h2, &:nth-of-type(3):hover h2 {
          background: none;
          opacity: 0;
          transition: .5s;
        }
      }
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50%,100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50%,100% {
    opacity: 1;
  }
}

//

.roommap {
  margin-top: 10%;
  position: relative;
  height: 100vh;
  background: url(../img/main/roommap.jpg) center no-repeat;
  background-size: 100%;
  z-index: 0;
}

footer {
  position: relative;
  top: 0;
  left: 0;

  .foot {
    z-index: 0;
    height: 20vh;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    margin: 2%;
    display: none;

    &.active {
      display: block;
      z-index: 11;
    }

    .f_t {
      text-align: center;
      white-space: pre-line;
      font-size: 0.5em;
      font-family: "Titillium Web", sans-serif;
      line-height: 2;
      padding: 2% 0;

      > p {
        text-align: center;
        margin: 0;

        img {
          width: 90px;
          height: 10px;
        }
      }
    }
  }
}

/*----------------------media480---------------------------*/

@media (max-width: 480px) {
  body {
    width: 100vw;
  }

  /*    ----------fixed-----------------------------*/

  .scroll {
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 5%;
    text-align: center;
    transform: translateX(-50%);

    p {
      color: #fff;
      font-family: 'Inconsolata', monospace;
      font-size: 1.2em;
      text-transform: uppercase;
      position: relative;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    }

    img {
      width: 5vw;
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
    }
  }

  .sns .link a {
    width: 25px;
    height: 25px;
    background: url('../img/main/bt_sns_b.png') no-repeat;
    background-size: 150px;
    display: inline-block;
    margin: 3px;

    &:nth-of-type(1) {
      background-position: 8px 0;
    }

    &:nth-of-type(2) {
      background-position: -39px 0;
    }

    &:nth-of-type(3) {
      background-position: -83px 0;
    }

    &:nth-of-type(4) {
      background-position: -130px 0;
    }
  }

  .logo {
    z-index: 200;
    position: fixed;
    left: 2%;
    top: 0;
    width: 100px;
    height: 36px;
    background: rgba(255, 255, 255, 0.2);

    img {
      width: 100%;
    }
  }

  .r_btn {
    z-index: 200;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    top: 80%;
    width: 150px;
    height: 36px;
    background: url('../img/main/bt_reservation.png') no-repeat;
    background-size: 100% 100%;
  }

  .side {
    display: none;
  }

  .menu-trigger {
    position: fixed;
    right: 5%;
    top: 2%;
    z-index: 200;
    display: block;
  }

  /*    -----------------------------header------------*/

  header {
    background: 0;

    nav {
      &.active {
        transform: translateX(0%);
      }

      position: fixed;
      top: 0;
      right: 0;
      z-index: 200;
      width: 100%;
      height: 100vh;
      display: block;
      background: #fff;
      margin: 0;
      transform: translateX(100%);
      transition: .5s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20% 0 40% 0;

      > div {
        width: 70%;

        > a {
          display: inline-block;
          font-size: 1.5em;
          padding: 5% 0;
        }

        ul {
          background: rgba(0, 0, 0, 0.1);
          width: 80%;
          position: relative;
          top: 0;
          right: 0;
          display: none;
          margin: 5%;

          li {
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 5% auto;
            font-size: 1.2em;

            a {
              font-family: 'Titillium Web', sans-serif;
              padding: 1%;
            }
          }
        }

        &:hover {
          background: ivory;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .head nav > div:hover ul {
    display: inline-block;
  }

  /*   ----------------------------main--------------*/

  main {
    width: 100vw;
    height: 100vh;

    > div {
      position: relative;

      > {
        img {
          width: 100%;
          height: 100%;
        }

        h1 {
          width: 100%;
          color: #fff;
          text-align: center;
          text-transform: uppercase;
          font-size: 3em;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%);
          font-family: 'Dancing Script', cursive;
        }
      }
    }
  }

  .a_btn > a img {
    width: 5vw;
  }

  .service {
    width: 100vw;
    padding-bottom: 5%;
    height: auto;

    > article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      float: none;
      margin: 0 auto;

      > div {
        width: 100%;
        margin-top: 10%;
        position: static;

        h2 {
          padding: 0;
          line-height: 1.5;
          font-size: 90%;

          strong {
            font-size: 5em;
          }
        }
      }

      .s {
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 5%;
          width: 50%;
          height: 30%;

          &:nth-of-type(2) {
            margin-left: 50%;
          }

          a h2 {
            font-size: 80%;
            line-height: 1.5;

            strong {
              font-size: 2em;
              font-weight: 100;
              font-family: 'Titillium Web', sans-serif;
            }
          }
        }
      }
    }
  }

  .facilities {
    margin: 0;
    height: auto;
    background-size: 100%;

    .vdo {
      video {
        width: 100%;
        position: absolute;
        z-index: 0;
        left: 0;
        bottom: 40%;
      }

      .title {
        background: none;
        display: block;
        white-space: pre-line;
        z-index: 1;

        h1 {
          font-size: 90%;

          strong {
            font-size: 4em;
          }
        }
      }

      article {
        margin: 0 auto;
        flex-direction: column;

        figure {
          position: relative;
          width: 100%;
          height: 50%;
          margin: 2% auto;
          overflow: hidden;
        }
      }
    }
  }

  .roommap {
    height: auto;

    img {
      width: 100%;
    }
  }

  /*    ----------footer---------------*/

  footer {
    width: 100vw;
    height: 50vh;

    .foot {
      width: 100%;
      margin: 0 auto;

      .f_t {
        width: 100%;
        margin: 5% auto;
        font-size: 0.2em;
        bottom: 0;
      }
    }
  }
}