@import url("common.css");
/*main---------------------------------*/
html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.scroll {
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 5%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}

.scroll.active {
  display: none;
}

.scroll p {
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  text-transform: uppercase;
  position: relative;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.scroll img {
  width: 25%;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
}

main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 10;
}

main > div {
  height: 100vh;
  position: relative;
}

main > div > img {
  width: 100%;
  height: 100%;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

svg .st path {
  fill: #fff;
}

svg .line {
  fill: transparent;
  stroke: #fff;
  stroke-width: 40px;
  stroke-dasharray: 4000px;
  stroke-dashoffset: 4000px;
  -webkit-animation: dash 5s forwards;
          animation: dash 5s forwards;
}

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0px;
  }
}

.service {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.service > article {
  width: 100%;
  height: 100%;
  float: right;
}

.service > article > div {
  width: 100%;
  padding: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
  background: url(../img/main/water.jpg) center no-repeat;
  background-size: 100%;
}

.service > article > div.fade {
  -webkit-animation: fadeOut 5s forwards;
          animation: fadeOut 5s forwards;
}

.service > article > div h2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3em;
  font-weight: normal;
  font-family: 'Sunflower', sans-serif;
  color: #fff;
}

.service > article > div h2 strong {
  display: block;
  margin: 5%;
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
}

.service > article .service_list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  opacity: 0;
}

.service > article .service_list.fade {
  -webkit-animation: fadeIn 5s forwards;
          animation: fadeIn 5s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.service > article .service_list li {
  width: 33%;
  height: 100%;
  position: relative;
}

.service > article .service_list li img {
  width: 100%;
  height: 100%;
}

.service > article .service_list li a {
  width: 100%;
  height: 100%;
}

.service > article .service_list li a h2 {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: pre-line;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 1.5;
  font-weight: normal;
  font-family: 'Sunflower', sans-serif;
}

.service > article .service_list li a h2 strong {
  font-size: 50px;
  font-weight: normal;
  font-family: 'Sunflower', sans-serif;
}

.service > article .service_list li:nth-of-type(1):hover h2 {
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.service > article .service_list li:nth-of-type(2):hover h2,
.service > article .service_list li:nth-of-type(3):hover h2 {
  background: none;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.roommap {
  margin-top: 10%;
  position: relative;
  height: 100vh;
  background: url(../img/main/roommap.jpg) center no-repeat;
  background-size: 90%;
  z-index: 0;
}

footer {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
}

footer .footer_layout {
  z-index: 0;
  height: 10vh;
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 2%;
  display: none;
}

footer .footer_layout.active {
  display: block;
  z-index: 11;
}

footer .footer_layout .footer_text_layout {
  text-align: center;
  white-space: none;
  font-size: 0.5em;
  font-family: 'Titillium Web', sans-serif;
  line-height: 2;
  padding: 2% 0;
}

footer .footer_layout .footer_text_layout > p {
  text-align: center;
  margin: 0;
}

footer .footer_layout .footer_text_layout > p img {
  width: 90px;
  height: 10px;
}

/*----------------------media480---------------------------*/
@media (max-width: 576px) {
  body {
    width: 100vw;
  }
  /*    ----------fixed-----------------------------*/
  .scroll {
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 5%;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .scroll p {
    color: #fff;
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
    text-transform: uppercase;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
  .scroll img {
    width: 5vw;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.8));
  }
  .sns .link a {
    width: 25px;
    height: 25px;
    background: url("../img/main/bt_sns_b.png") no-repeat;
    background-size: 150px;
    display: inline-block;
    margin: 3px;
  }
  .sns .link a:nth-of-type(1) {
    background-position: 8px 0;
  }
  .sns .link a:nth-of-type(2) {
    background-position: -39px 0;
  }
  .sns .link a:nth-of-type(3) {
    background-position: -83px 0;
  }
  .sns .link a:nth-of-type(4) {
    background-position: -130px 0;
  }
  .sidebar {
    display: none;
  }
  .menu-trigger {
    display: block;
  }
  .menu-trigger > a span {
    background: #fff;
  }
  /*    -----------------------------header------------*/
  header {
    background: 0;
  }
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    width: 100%;
    height: 100vh;
    display: block;
    background: #fff;
    margin: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20% 0 40% 0;
  }
  header nav.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header nav > div {
    width: 70%;
    padding-top: 5%;
  }
  header nav > div .logo {
    z-index: 200;
    position: fixed;
    left: 2%;
    top: 2%;
    width: 20%;
    height: 8%;
  }
  header nav > div .r_btn {
    z-index: 200;
    position: fixed;
    right: 50%;
    top: 80%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 30%;
    height: 8%;
  }
  header nav > div > a {
    font-size: 1.5em;
  }
  header nav > div .t_list,
  header nav > div .s_list {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  header nav > div ul {
    background: ivory;
    width: 80%;
    position: static;
    bottom: 0;
    display: none;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding: 4%;
  }
  header nav > div ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 auto;
  }
  header nav > div ul li a {
    font-size: 1.1em;
    padding: 1%;
  }
  /*   ----------------------------main--------------*/
  main {
    width: 100vw;
  }
  main > div {
    position: relative;
  }
  main > div > img {
    width: 100%;
    height: 100%;
  }
  main > div > h1 {
    width: 100%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-family: 'Dancing Script', cursive;
  }
  .arrow_btn > a img {
    width: 5vw;
  }
  .service {
    width: 100vw;
    padding-bottom: 5%;
    height: auto;
  }
  .service > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    float: none;
    margin: 0 auto;
  }
  .service > article > div {
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    padding: 0;
    width: 50%;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  .service > article > div.fade {
    -webkit-animation: none;
            animation: none;
  }
  .service > article > div h2 {
    padding: 0;
    line-height: 1.5;
    font-size: 90%;
  }
  .service > article > div h2 strong {
    font-size: 3em;
  }
  .service > article .service_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    opacity: 1;
  }
  .service > article .service_list.fade {
    -webkit-animation: none;
            animation: none;
  }
  .service > article .service_list li {
    margin-bottom: 0;
    width: 50%;
    height: 40%;
  }
  .service > article .service_list li a h2 {
    font-size: 80%;
    line-height: 1.5;
  }
  .service > article .service_list li a h2 strong {
    font-size: 2em;
    font-weight: 100;
    font-family: 'Titillium Web', sans-serif;
  }
  /* ------------------------fac------------------- */
  .facilities {
    height: 100vh;
  }
  .facilities .vdo video {
    display: none;
  }
  .title {
    padding: 3%;
    background: rgba(0, 0, 0, 0.5);
  }
  .title h1 {
    font-size: 3em;
  }
  .title strong {
    display: none;
  }
  .facility .vdo article {
    width: 99%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .facility .vdo article figure {
    margin: 2px 0;
  }
  .facility .vdo article figure p {
    width: 200px;
    height: 200px;
  }
  .facility .vdo article figure figcaption {
    font-size: 1em;
  }
  .popup {
    width: 95vw;
    height: 95vh;
  }
  .popup figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup figure p {
    width: 70%;
    height: 40%;
    text-align: center;
    margin-bottom: 6%;
  }
  .popup figure figcaption {
    width: 90%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
  }
  .popup figure figcaption h2 {
    font-size: 1.2em;
    margin-bottom: 5%;
  }
  .roommap img {
    width: 100%;
  }
  /*    ----------footer---------------*/
  footer {
    width: 100vw;
    height: 50vh;
  }
  footer .footer_layout {
    width: 100%;
    margin: 0 auto;
  }
  footer .footer_layout .footer_text_layout {
    width: 100%;
    margin: 5% auto;
    font-size: 0.2em;
    bottom: 0;
  }
}
/*# sourceMappingURL=daon_main_menu.css.map */