@import url('common.css');

.about {
    width: 100%;
    height: 100vh;
    background: url(../img/sub/a-1.jpg) right bottom no-repeat;
    background-size: 80%;
    position: relative;
}

.about p {
    position: absolute;
    bottom: -2%;
    left: 0;
    background: #fff;
    border-radius: 50%;

    width: 700px;
    height: 500px;


    white-space: pre-line;
    font-family: 'Sunflower', sans-serif;
    line-height: 2;
    font-size: 2em;


}

/*-----------------------------traffic---------------------------------*/
main {}

.traffic {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 100%;


}

.traffic > img {
    position: absolute;
    left: 10%;
    bottom: -5%;
    z-index: 2;

}

.traffic .con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.traffic .con .map {

    margin: 10%;
}

.traffic .con span {

    display: block;
    border: 1px solid #e6fafe;
    border-radius: 100%;
    vertical-align: center;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.traffic span p {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    white-space: pre-line;
    padding: 10%;
    line-height: 1.7;
    font-size: 20px;
    background: #e6fafe;
    font-family: 'Sunflower', sans-serif;
    line-height: 1.5;
}

/*--------------------------travel------------------------------------*/
.travel {
    width: 100%;
    height: 100vh;
    background: url('../img/sub/beach.jpg') no-repeat;

}

.travel article {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.travel article figure {
    position: relative;
    border: 5px solid #fff;
    border-radius: 100%;
    overflow: hidden;
    width: 300px;
    height: 300px;

}

.travel article figure a {}

.travel article figure a img {
    width: 350px;
    height: 350px;
}

.travel article figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Sunflower', sans-serif;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: #fff;
}

.travel article figure:hover figcaption {
    display: none;
}

.travel .arrow {
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 2;
    transform: translateY(-50%);
    width: 80%;

}

.travel .arrow > a {}

.travel .arrow > a > img {
    background: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
}

.travel .arrow > a:nth-of-type(1) {
    transform: rotate(180deg);
}

.travel .arrow > a:hover img {
    opacity: 1;

}

/*---------------------rooms--------------------------------------*/
.rooms {}

.rooms article {

    width: 100%;
    height: 100vh;
}

.rooms article .love {

    height: 100vh;
    background: url(../img/sub/love.jpeg);
}

.rooms article .only {

    height: 100vh;
    background: url(../img/sub/only.jpg);
}

.rooms article > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;

}

.rooms article > figure > div {
    position: relative;

}

.rooms article > figure > div > p {

    display: block;
    width: 500px;
    height: 300px;

}



.rooms article > figure > div .s_btn > a img {
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: 3px;
}


.rooms article .love > div .s_btn > a:nth-of-type(1) img{
     transform:rotate(180deg);
}
.rooms article .only > div .s_btn > a:nth-of-type(1) img{
     transform:rotate(180deg);
}
.rooms article .love > div .s_btn {
    position: absolute;
    bottom: 4%;
    right: -5%;

}

.rooms article .only > div .s_btn {
    position: absolute;
    top: 0;
    left: -5%;

}






.rooms article > figure > div > p img {
    width: 100%;
    height: 100%;
}

.rooms article > figure > figcaption {
    white-space: pre-line;
    font-size: 60px;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
    width: 600px;
    padding: 2%;
    color: rgba(0, 0, 0, 0.2);
}

.rooms article > figure > figcaption strong {
    color: #434343;
    font-family: 'Dancing Script', cursive;
    font-size: .4em;
    font-weight: bold;
    text-transform: uppercase;

}

.rooms article .love figcaption {
    text-align: right;
    margin-bottom: 0%;
}

/*------------------------------r_info------------------------------*/
.r_info {}

.r_info .room {
    width: 100%;
    height: 100vh;
    position: relative;
}

.r_info .room li {}

.r_info .room li img {
    width: 100%;
    height: 100vh;
}

.r_info .s_a {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    width: 80%;
}

.r_info .s_a a:nth-of-type(1) {
    transform: rotate(180deg);

}

.r_info .s_a a img {
    opacity: 0.3;

}

.r_info .s_a a:hover img {
    opacity: 1;
}

.r_info .indi {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);

}

.r_info .indi li {

    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
}

.r_info .indi li:hover {
    background: #fff;
}

.r_t {
    height: 80vw;
    position: relative;
    margin: 5%;

    font-family: 'Titillium Web', sans-serif;
}

.r_t > p {
    margin-top: 5%;
    width: 40%;
    height: 50%;
    box-shadow: inset 20px 0px 100px 100px #fff;
    background: url(../img/sub/rose.jpg) no-repeat;
    background-size: 100%;
}


.r_t > h1 {
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
}

.r_t > h4 {
    margin: 6% 0;
    font-size: 20px;
    font-weight: 50;
    font-family: 'Sunflower', sans-serif;
}

.r_t .info_btn {
    display: block;
}

.r_t .info_btn a {
    border: 1px solid gray;
    padding: 1% 2%;
    font-size: 20px;
    color: #000;
    font-family: 'Inconsolata', monospace;
}

.r_t ul {
    position: absolute;
    bottom: 0%;
    right: 0%;
    margin: 5%;
    width: 50%;
    background: #fff;

}

.r_t ul > h4 {
    font-size: 1.5em;
    padding-bottom: 10px !important;
    border-bottom: 1px solid gray;
}

.r_t > ul li {
    line-height: 1.2;
    list-style: square;
    margin: 2% 2%;
}
