@import url('comTest.css');

.view .a_btn {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10% -50%);
}
.view .a_btn a{
    
background:#000;
}
.view .indi {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
z-index:2;
}





.view {
    width: 100vw;
  height:100vh;

}

.view .about {
  
    width:80%; 
    height:80%;
   position:relative;
     overflow: hidden;
     margin:0 auto;
}

.view .about .v_list{
    width:100%; 
    height:100%;
  
    text-align: left;
    position:absolute;
    top:0; left:0;
   

box-sizing:border-box;
}
.view .about .v_list li{
 width:100%; 
    height:100%;
    position:absolute;
   
    background-size: 100% 100%;
}


.view .about .v_list li{
    width:100%; 
    height:100%;
}

.indi a.active{
    background:#fff;
}



